:root {
  --dark-green: #16262e;
  --mid-green: #2e4756;
  --light-green: #3c7a89;
  --grey: #9fa2b2;
  --pink: #dbc2cf;
}

html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--mid-green);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--mid-green);
  color: var(--pink);
}

main {
  color: var(--pink);
}

section {
  padding: 40px 10px 80px 10px;
  text-align: center;
  border-top: solid 1px var(--light-green);
}

section.light {
  background-color: var(--pink);
  color: var(--dark-green);
}

section.mid {
  background-color: var(--mid-green);
}

section.dark {
  background-color: var(--dark-green);
  background: linear-gradient(45deg, var(--dark-green), var(--mid-green));
}

.react-pdf__Document section {
  border-top: none;
}

.block {
  max-width: 1000px;
  margin: 0 auto;
}

.flexBlock {
  display: flex;
  justify-content: space-between;
}

/* Header */

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.headerContainer .headerIcon {
  height: 32px;
  margin-left: 32px;
  fill: white;
}

.headerContainer .headerIcon:hover {
  fill: var(--grey);
}

.headerLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

/* The ribbon */

.cornerRibbon{
  position: fixed;
  top: 25px;
  right: -50px;
  left: auto;
  width: 200px;
  background-color: var(--light-green);
  color: white;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  box-shadow: 0 0 3px var(--dark-green);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cornerRibbon:hover{
  color: var(--grey);
}

/* Fonts */

p {
  font-size: 18px;
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.mainTitle {
  font-weight: lighter;
  font-size: 64px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.title {
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 4px;
  margin-bottom: 64px;
}

/* Components */

.circleImage {
  border-radius: 50%;
  height: 200px;
  border: solid 2px var(--light-green);
}

.circleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mid-green);
  border-radius: 50%;
  color: white;
  height: 300px;
  width: 300px;
}